<h2 style="text-align:center; color:#333;">Lista de Clientes</h2>

<div style="overflow-x:auto; padding: 10px; border: 2px solid #2196F3; border-radius: 10px; background-color:#f0f8ff;">
  <table style="width:100%; border-collapse: collapse; font-family: Arial, sans-serif;">
    <thead>
      <tr style="background-color:#2196F3; color:white; text-align:center;">
  <th>ID</th>
  <th>Nombre</th>
  <th>Apellido</th>
  <th>Tipo Documento</th>
  <th>Documento</th>
  <th>Teléfono</th>
  <th>Dirección</th>
  <th>Email</th>
  <th>Tipo Cliente</th>
</tr>

    </thead>
    <tbody>
      <tr *ngFor="let c of clientes">
  <td>{{ c.idCliente }}</td>
  <td>{{ c.nombre }}</td>
  <td>{{ c.apellido }}</td>
  <td>{{ c.tipoDocumento }}</td>
  <td>{{ c.documento }}</td>
  <td>{{ c.telefono }}</td>
  <td>{{ c.direccion }}</td>
  <td>{{ c.email }}</td>
  <td>{{ c.tipoCliente }}</td>
</tr>

    </tbody>
  </table>
</div>
